<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.github.ntduycs.jhcm.{{service}}.domain.repository.{{Entity}}Repository">

  <select id="findById" resultType="io.github.ntduycs.jhcm.{{service}}.domain.entity.{{Entity}}">
    SELECT *
    FROM `{{entity}}`
    WHERE `id` = #{id}
  </select>

  <select id="findByCode" resultType="io.github.ntduycs.jhcm.{{service}}.domain.entity.{{Entity}}">
    SELECT *
    FROM `{{entity}}`
    WHERE `code` = #{code}
  </select>

  <select id="search" resultType="io.github.ntduycs.jhcm.{{service}}.domain.entity.{{Entity}}">
    SELECT *
    FROM `{{entity}}`
    WHERE TRUE
    <include refid="searchCriteria" />
    ORDER BY
    <include refid="orderSpecifier" />
    LIMIT #{request.size} OFFSET #{request.offset}
  </select>

  <select id="findAll" resultType="io.github.ntduycs.jhcm.{{service}}.domain.entity.{{Entity}}">
    SELECT *
    FROM `{{entity}}`
  </select>

  <select id="count" resultType="java.lang.Integer">
    SELECT COUNT(*)
    FROM `{{entity}}`
    WHERE TRUE
    <include refid="searchCriteria" />
  </select>

  <select id="countAll" resultType="java.lang.Integer">
    SELECT COUNT(*)
    FROM `{{entity}}`
  </select>

  <sql id="searchCriteria">
    <if test="request.name != null and request.name != ''">
      AND `name` LIKE CONCAT('%', #{request.name}, '%')
    </if>
    <if test="request.status != null and request.status != ''">
      AND `status` = #{request.status}
    </if>
  </sql>

  <sql id="orderSpecifier">
    <choose>
      <when test="request.sort != null and request.sort != '' and request.order != null and request.order != ''">
        ${request.sort} ${request.order}
      </when>
      <otherwise>
        `updated_at` DESC
      </otherwise>
    </choose>
  </sql>
</mapper>